body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
p{
    color: white;
    text-align: center;
}
.motiv_image{
    border: 5px solid white;
    width: 100%;
}
.container{
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
}